/* LoginForm.css */

.login-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
  }
  
  .login-form {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 400px;
    width: 100%;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-control {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .login-submit-button {
    background-color: #02BC94;
    color: #fff;
    text-decoration: none;
    padding: 10px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-size: larger;
    font-weight: 500;
    margin-top: 10px;
    width: 60%;
  }
  
  .login-submit-button:hover {
    background-color: #018374;
  }
  